$bg-grey: #eeeeee;
$black: #000000;
$red: #FB565A;
$green: #00CA74;
$yellow: #EFC849;
$grey: #E1E1E1;
$white: #ffffff;

$main-size: 16px;
$main-lh: 24px;


$btn-color: (
    green-btn: $green,
    yellow-btn: $yellow,
    red-btn: $red,
);
